# Maintain consistent coding style: https://editorconfig.org/
# ? file is read from top-down and precedence is given if found later

[*]
charset = utf-8
end_of_line = lf
indent_size =  4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = 2

[LICENSE]
insert_final_newline = false
